FILECUSTOMER=..................
FILEPRODUCT=.................
FILESELLER=...........
FILEORDER=..............
FILEORDERITEM=.................
HOST=.............
PORT=.............
CLICKHOUSE_USERNAME=..................
CLICKHOUSE_PASSWORD=................
CLICKHOUSE_DATABASE=...............